html, body, #root, .app {
    height: 100%;
}

.app {
    display: grid;
    grid-template-rows: 56px 1fr 100px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #0b0b0c;
    color: #fff;
}

.footer p {
    margin: 0;
}


/*
 |--------------------------------------------------------------------------
 | Estilos pre-armados para el ejemplo :)
 |--------------------------------------------------------------------------
 */
* {
    box-sizing: border-box;
    --border: 1px solid #ddd;
    --shadow: 0 2px 2px #ccc;
    --padding-box: .5rem 1rem;
    --primary: #0f232f;
    --secondary: #2eb499;
    --bg-nav: #06141d;
    --bg-footer: #0b0b0c;

    --bp-md: 768px;
    --bp-xmd: 950px;
    --bp-lg: 1200px;
}

img {
    max-width: 100%;
}

.content {
    padding-bottom: 2rem;
}

.Nav {
    background-color: var(--bg-nav);
}

.VuelosLista {
    list-style: none;
    padding: 0;
}

.VuelosListaItem {
    /*padding: var(--padding-box);*/
    margin-bottom: 3rem;
    border-radius: 5px;
    /*border: 1px solid #ddd;*/
    border: var(--border);
    box-shadow: var(--shadow);
    /*background-color: #eee;*/
}

.VuelosListaItem_titulo {
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: column;
    padding: var(--padding-box);
}

.VuelosListaItem_precio {
    margin-top: .5rem;
}

.VuelosListaItem_fechas {
    display: flex;
    border-top: var(--border);
    border-bottom: var(--border);
}

.VuelosListaItem_fechas > span {
    padding: var(--padding-box);
}

.VuelosListaItem_detalle {
    display: flex;
    border-bottom: var(--border);
}

.VuelosListaItem_empresa {
    max-width: 120px;
    padding: .5rem 2rem;
    border-right: var(--border);
}

.VuelosListaItem_lugares {
    display: flex;
    align-items: center;
    padding: .5rem 2rem;
}

.VuelosListaItem_lugares > span {
    position: relative;
    margin-right: 2rem;
}

.VuelosListaItem_lugares > span::after {
    content: ' - ';
    position: absolute;
    right: -1.2rem;
}

.VuelosListaItem_lugares > span:last-child {
    margin-right: 0;
}

.VuelosListaItem_lugares > span:last-child::after {
    content: none;
}

.VuelosListaItem_acciones {
    display: flex;
    justify-content: flex-end;
    padding: var(--padding-box);
}

.VuelosListaItem_acciones > * {
    margin-right: 1rem;
}

.Link {
    display: inline-block;
    padding: var(--padding-box);
    border: var(--border);
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.Link-primary {
    background-color: var(--primary);
    color: #fefefe;
}

.Link-primary:hover {
    background-color: var(--primary);
    color: #eee;
}

.AerolineaLogo img {
    display: inline-block;
    max-width: 100%;
}

.EmpresasDetalle-data {
    display: flex;
    flex-direction: column;
}

.EmpresasDetalle-data h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.EmpresasLista {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.EmpresasLista > * {
    width: calc(100% / 4 - 2rem);
    height: 245px;
    margin: 1rem;
}

.EmpresasListaItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: var(--padding-box);
    border: var(--border);
    border-radius: 5px;
    box-shadow: var(--shadow);
    text-align: center;
}

.EmpresasListaItem img {
    order: -1;
    margin-bottom: .5rem;
}

/*.EmpresasDetalle-data img {*/
/*order: -1;*/
/*align-self: center;*/
/*margin-bottom: 1rem;*/
/*}*/

@media screen and (min-width: 768px) {
    .VuelosListaItem_titulo {
        justify-content: space-between;
        flex-direction: row;
    }

    .VuelosListaItem_precio {
        margin-top: 0;
        margin-left: 1rem;
    }
}

.Loader {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    overflow: hidden;
}

.Loader div,
.Loader div:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.Loader div {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid var(--primary);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #666;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #666 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
